@import "../abstracts/variables";

.btn {
  color: $color-white;
  height: 40px;
  font-size: 14px;
  border-radius: 4px;
  font-style: italic;
  padding: 0 30px;
  &:hover {
    opacity: 0.9;
    background: inherit;
  }
}

.btn-warning {
  background: $orange-color-text;
}

.btn-outline-dark {
  color: $gray-color-text;
  border: 1px solid $gray-color-text;
  &:hover {
    color:inherit;
    opacity: 0.9;
  }
}
