@import "main.scss";

header.header {
  .header-top {
    background: $gray1;
    min-height: 50px;

    .info {
      display: flex;
      justify-content: start;
      @media (max-width: 768px) {
        display: block;
      }
      .media {
        margin-right: 2.5rem;
      }
      i {
        font-size: 31px;
        margin-right: 10px;
      }
      p {
        margin-bottom: 0;
      }
    }
    .dropdown-header {
      padding:0;
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 700;
      color: $gray4;
      background: none;
      min-width: 40px;
      margin: 0;
      background-color: transparent;
      cursor: pointer;
      .dropdown-content {
        top: 44px;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 74px;
        z-index: 1;
        ul{
          min-width: 40px;
          padding:0;
          margin:0;
        }
      }
    }

    button.btn-search {
      background: $gray3;
      color: $gray2;
      outline: none;
      border: none;
      min-height: 50px;
      width: 50px;
      font-size: 14px;
    }
  }
  .header-nav {
    height: 80px;
    display: flex;
    align-items: center;
    .navbar-nav {
      .nav-item {
        a.nav-link {
          font-size: 14px;
          padding-left: 0.8125rem;
          padding-right: 0.8125rem;
          text-transform: uppercase;
          color: $gray1;
          font-family: ProximaNovaBold, Arial, sans-serif;
          &:hover {
            color: inherit;
          }
        }
        .btn {
          height: 39px;
          font-size: 14px;
          border-radius: 4px;
          font-style: italic;
          padding: 0 30px;
          &:hover {
            opacity: 0.9;
            background: inherit;
            color: inherit;
          }
        }
        &.active {
          a {
            color: $orange1;
          }
        }
      }
    }
  }
}
.dropbtn {
  background-color: transparent;
  color: $gray2;
  font-size: 14px;
  padding:12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top:0 !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  z-index: 1;
}

.dropdown-content ul li{
   button {
  background:transparent;
  border:none;
}
 &:hover{
    background:$gray5;
    color:white;
    button{
      color:white;
      font-weight:bold;
    }
  }
}

.dropdown:hover .dropdown-content {display: block;}
