<header class="header">
  <div class="header__top">
    <div class="container flex">
      <div class="header__top--left">
        <div class="header__top--box">
          <i class="fas fa-envelope"></i>
          <div class="float-right">
              <h6 class="header__top--heading">EMAIL</h6>
              <p class="header__top--p">automotor@domain.com</p>
          </div>
        </div>
        <div class="header__top--box">
            <i class="fas fa-phone-alt"></i>
          <div class="float-right">
              <h6 class="header__top--heading">PHONE</h6>
              <p class="header__top--p">+407567890</p>
          </div>
        </div>
        <div class="header__top--box">
            <i class="fas fa-globe-americas"></i>
          <div class="float-right">
              <h6 class="header__top--heading">LOCATION</h6>
              <p class="header__top--p">45 Queen's Park Rd, Brighton, UK</p>
          </div>
        </div>
      </div>
      <div class="header__top--right">
          <select class="header__language">
            <option value="ENG">ENG</option>
            <option value="FR">FR</option>
          </select>
          <select class="header__currency">
              <option value="USD">USD</option>
              <option value="POUND">POUND</option>
            </select>
            <button type="button" class="header__search"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container flex">
      <div class="header__bottom--logo">
        <img src="../../../assets/img/logo.png" alt="logo" class="logo">
      </div>
      <div class="header__bottom--nav">
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-cart-plus"></i><span class="cart">1</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>