@import "../../../../theme/theme";

/* .header {
  &__top {
    background: $gray-color-text;
    .flex {
      @include flex-center;
      min-height: 5rem;
      @media (max-width: 1140px) {
        display: block;
      }
    }
    &--left {
      @include flex-center;
    }
    &--right {
      select {
        color: $color-background-primary;
        border: none;
        outline: none;
        background: url() no-repeat right $gray-color-text;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 1.4rem;
        cursor: pointer;
      }
      @media (max-width: 1140px) {
        text-align: right;
      }
    }
    &--box {
      padding: 1rem 6rem 1rem 0;
      @media (max-width: 990px) {
        padding: 1rem 3rem 1rem 0;
      }
      @media (max-width: 768px) {
        text-align: center;
        margin-bottom: 2rem;
      }
      i {
        color: $orange-color-text;
        float: left;
        padding-right: 1rem;
        font-size: 3.1rem;
        @media (max-width: 768px) {
          text-align: center;
          float: none;
        }
      }
    }
    &--p {
      color: $color-background-primary;
      font-family: ProximaNovaBold, sans-serif;
      line-height: 1.6rem;
    }
    &--heading {
      color: $orange-color-text;
      font-family: ProximaNovaBold, sans-serif;
      line-height: 1.6rem;
      font-size: 1.2rem;
    }
  }
  &__language {
    margin-right: 2.5rem;
  }
  &__search {
    background: $color-gray-hover;
    color: $color-background-primary;
    outline: none;
    border: none;
    height: 5rem;
    width: 5rem;
    font-size: 1.4rem;
  }
  &__bottom {
    background: $color-background-primary;
    &--nav {
      nav.navbar {
        @media (max-width: 992px) {
          display: block;
          margin: 15px auto;
        }
        padding: 0;
        button.navbar-toggler {
          outline: none;
          span {
            background: $gray-color-text;
            height: 3px;
            width: 15px;
            display: block;
            margin-bottom: 3px;
          }
        }
        li.nav-item {
          font-family: ProximaNovaBold;
          &:not(:last-child) {
            padding: 0 1.2rem;
          }
          @media (max-width: 992px) {
            margin-bottom: 12px;
          }
          a.nav-link,
          button.nav-link {
            font-size: 1.4rem;
            text-transform: uppercase;
            padding: 0;
            line-height: 24px;
            &:link,
            &:visited {
              color: $gray-color-text;
              transition: all 0.3s;
            }
            &:hover {
              color: $orange-color-text;
            }
            &.login,
            &.register {
              border-radius: 10px;
              height: 3rem;
              line-height: 3rem;
              color: $color-white;
              padding: 0 1rem;
              margin-top: -5px;
              border: none;
              outline: none;
              &:hover {
                opacity: 0.7;
              }
            }
            &.login {
              background: $green-color;
            }
            &.register {
              background: $orange-color-text;
            }
            .cart {
              position: absolute;
              top: -8px;
              right: -11px;
              font-size: 1.2rem;
              line-height: 2rem;
              border-radius: 50%;
              text-align: center;
              color: #ffffff;
              background: #e57632;
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }
    .flex {
      @include flex-center;
      min-height: 8rem;
    }
  }
  .dropdown {
    position: relative;
    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      padding: 0;
      color: $gray-color-text;
      display: block;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      font-size: 1.4rem;
      text-transform: uppercase;
      padding: 0;
      color: $gray-color-text;
      z-index: 10;
      background: $color-white;
      width: 100%;
      padding: 1rem;
      ul {
        li {
          list-style-type: none;
          a {
            color: $gray-color-text;
          }
        }
      }
    }
    &:hover .dropdown-content {
      display: block;
    }
  }
} */

header.header {
  .header-top {
    background: $gray1;
    min-height: 50px;

    .info {
      display: flex;
      justify-content: start;
      @media (max-width: 768px) {
        display: block;
      }
      .media {
        margin-right: 2.5rem;
      }
      i {
        font-size: 31px;
        margin-right: 10px;
      }
      p {
        margin-bottom: 0;
      }
      p.mat-body-1,
      i {
        color: $orange1;
        margin-bottom: 0;
        line-height: 1;
      }
      p.mat-body-2 {
        color: $gray2;
        text-transform: uppercase;
        @media (max-width: 1200px) {
          font-size: 12px;
        }
      }
    }
    .select-header {
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 700;
      color: $grey4;
      background: none;
      min-width: 40px;
      box-sizing: border-box;
      margin: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
    }
    .select-header::-ms-expand {
      display: none;
    }
    .select-header:hover {
      border-color: #888;
    }
    .select-header:focus {
      border-color: #aaa;
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222;
      outline: none;
    }
    .select-header option {
      background: none;
    }
    button.btn-search {
      background: $grey3;
      color: $gray2;
      outline: none;
      border: none;
      min-height: 50px;
      width: 50px;
      font-size: 14px;
    }
  }
}
