@import "main.scss";

.archives-widget {
    padding-top: 5rem;
    h5.title {
        border-bottom: 1px solid $color-grey-fifth;
        padding-bottom: 1.5rem;
    }
    ul.list-group {
        li {
            font-size: 1.4rem;
            padding: 0;
            border: none;
            background: none;
            background: $color-grey-fourth;
            border-left: 5px solid $color-gray-secondary;
            margin-top: 5px;
            a {
                color: $color-grey-tertiary;
                padding-left: 5px;
                line-height: 40px;
                &:hover {
                    text-decoration: none;
                    color: $orange-color-text;
                }
            }
        }
    }
}
