<section class="popular-cars">
    <div class="container">
      <h2 class="text-center car__heading">POPULAR <span>CAR</span></h2>
      <div class="text-center">
        <img class="search__img" src="../../assets/img/bottom-heading.png" alt="bottom heading" />
      </div>
  
      <ngb-tabset justify="center" class="tabs-cars">
        <ngb-tab title="All">
          <ng-template ngbTabContent>
            <div class="row">
              <div class="col-3">
                <div class="car">
                  <figure>
                    <div class="position-relative w-270">
                      <img src="../../assets/img/popular-car.png" alt="popular-car" />
                      <h4 class="heading--price">$20000</h4>
                    </div>
                    <figcaption>
                      <h5 class="subheading">aston martin vanquish</h5>
                      <hr/>
                      <div class="d-flex justify-content-start align-items-center">
                        <div class="left-car">
                            <i class="fas fa-car float-left"></i>
                            <p class="float-right paragraph">Sedan</p>
                        </div>
                        <div class="right-car">
                            <i class="fas fa-car float-left"></i>
                            <p class="float-right paragraph">Sedan</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-start align-items-center">
                        <div class="left-car">
                            <i class="fas fa-car float-left"></i>
                            <p class="float-right paragraph">Sedan</p>
                        </div>
                        <div class="right-car">
                            <i class="fas fa-car float-left"></i>
                            <p class="float-right paragraph">Sedan</p>
                        </div>
                      </div>
                    </figcaption>
                  </figure>
                </div>
              </div>
              <div class="col-3">
                  <div class="car">
                      <figure>
                        <div class="position-relative w-270">
                          <img src="../../assets/img/popular-car.png" alt="popular-car" />
                          <h4 class="heading--price">$20000</h4>
                        </div>
                        <figcaption>
                          <h5 class="subheading">aston martin vanquish</h5>
                          <hr/>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
              </div>
              <div class="col-3">
                  <div class="car">
                      <figure>
                        <div class="position-relative w-270">
                          <img src="../../assets/img/popular-car.png" alt="popular-car" />
                          <h4 class="heading--price">$20000</h4>
                        </div>
                        <figcaption>
                          <h5 class="subheading">aston martin vanquish</h5>
                          <hr/>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
              </div>
              <div class="col-3">
                  <div class="car">
                      <figure>
                        <div class="position-relative w-270">
                          <img src="../../assets/img/popular-car.png" alt="popular-car" />
                          <h4 class="heading--price">$20000</h4>
                        </div>
                        <figcaption>
                          <h5 class="subheading">aston martin vanquish</h5>
                          <hr/>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-3">
                  <div class="car">
                    <figure>
                      <div class="position-relative w-270">
                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                        <h4 class="heading--price">$20000</h4>
                      </div>
                      <figcaption>
                        <h5 class="subheading">aston martin vanquish</h5>
                        <hr/>
                        <div class="d-flex justify-content-start align-items-center">
                          <div class="left-car">
                              <i class="fas fa-car float-left"></i>
                              <p class="float-right paragraph">Sedan</p>
                          </div>
                          <div class="right-car">
                              <i class="fas fa-car float-left"></i>
                              <p class="float-right paragraph">Sedan</p>
                          </div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center">
                          <div class="left-car">
                              <i class="fas fa-car float-left"></i>
                              <p class="float-right paragraph">Sedan</p>
                          </div>
                          <div class="right-car">
                              <i class="fas fa-car float-left"></i>
                              <p class="float-right paragraph">Sedan</p>
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                  </div>
                </div>
                <div class="col-3">
                    <div class="car">
                        <figure>
                          <div class="position-relative w-270">
                            <img src="../../assets/img/popular-car.png" alt="popular-car" />
                            <h4 class="heading--price">$20000</h4>
                          </div>
                          <figcaption>
                            <h5 class="subheading">aston martin vanquish</h5>
                            <hr/>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                </div>
                <div class="col-3">
                    <div class="car">
                        <figure>
                          <div class="position-relative w-270">
                            <img src="../../assets/img/popular-car.png" alt="popular-car" />
                            <h4 class="heading--price">$20000</h4>
                          </div>
                          <figcaption>
                            <h5 class="subheading">aston martin vanquish</h5>
                            <hr/>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                </div>
                <div class="col-3">
                    <div class="car">
                        <figure>
                          <div class="position-relative w-270">
                            <img src="../../assets/img/popular-car.png" alt="popular-car" />
                            <h4 class="heading--price">$20000</h4>
                          </div>
                          <figcaption>
                            <h5 class="subheading">aston martin vanquish</h5>
                            <hr/>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                </div>
              </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab>
          <ng-template ngbTabTitle>New</ng-template>
          <ng-template ngbTabContent>
              <div class="row">
                  <div class="col-3">
                    <div class="car">
                      <figure>
                        <div class="position-relative w-270">
                          <img src="../../assets/img/popular-car.png" alt="popular-car" />
                          <h4 class="heading--price">$20000</h4>
                        </div>
                        <figcaption>
                          <h5 class="subheading">aston martin vanquish</h5>
                          <hr/>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="car">
                        <figure>
                          <div class="position-relative w-270">
                            <img src="../../assets/img/popular-car.png" alt="popular-car" />
                            <h4 class="heading--price">$20000</h4>
                          </div>
                          <figcaption>
                            <h5 class="subheading">aston martin vanquish</h5>
                            <hr/>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                  </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Used">
          <ng-template ngbTabContent>
              <div class="row">
                  <div class="col-3">
                    <div class="car">
                      <figure>
                        <div class="position-relative w-270">
                          <img src="../../assets/img/popular-car.png" alt="popular-car" />
                          <h4 class="heading--price">$20000</h4>
                        </div>
                        <figcaption>
                          <h5 class="subheading">aston martin vanquish</h5>
                          <hr/>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                          <div class="d-flex justify-content-start align-items-center">
                            <div class="left-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                            <div class="right-car">
                                <i class="fas fa-car float-left"></i>
                                <p class="float-right paragraph">Sedan</p>
                            </div>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                  <div class="col-3">
                      <div class="car">
                          <figure>
                            <div class="position-relative w-270">
                              <img src="../../assets/img/popular-car.png" alt="popular-car" />
                              <h4 class="heading--price">$20000</h4>
                            </div>
                            <figcaption>
                              <h5 class="subheading">aston martin vanquish</h5>
                              <hr/>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-start align-items-center">
                                <div class="left-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                                <div class="right-car">
                                    <i class="fas fa-car float-left"></i>
                                    <p class="float-right paragraph">Sedan</p>
                                </div>
                              </div>
                            </figcaption>
                          </figure>
                        </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-3">
                      <div class="car">
                        <figure>
                          <div class="position-relative w-270">
                            <img src="../../assets/img/popular-car.png" alt="popular-car" />
                            <h4 class="heading--price">$20000</h4>
                          </div>
                          <figcaption>
                            <h5 class="subheading">aston martin vanquish</h5>
                            <hr/>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start align-items-center">
                              <div class="left-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                              <div class="right-car">
                                  <i class="fas fa-car float-left"></i>
                                  <p class="float-right paragraph">Sedan</p>
                              </div>
                            </div>
                          </figcaption>
                        </figure>
                      </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                    <div class="col-3">
                        <div class="car">
                            <figure>
                              <div class="position-relative w-270">
                                <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                <h4 class="heading--price">$20000</h4>
                              </div>
                              <figcaption>
                                <h5 class="subheading">aston martin vanquish</h5>
                                <hr/>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center">
                                  <div class="left-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                  <div class="right-car">
                                      <i class="fas fa-car float-left"></i>
                                      <p class="float-right paragraph">Sedan</p>
                                  </div>
                                </div>
                              </figcaption>
                            </figure>
                          </div>
                    </div>
                  </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
      <div class="text-center">
        <button type="button" class="btn btn-outline-dark">SHOW ALL <i class="fas fa-plus"></i></button>
      </div>
    </div>
  </section>
