<div class="shop-category">
    <h5 class="category-title">Category</h5>
    <hr />
    <h6 class="category-item"><a href="#">Electrical</a></h6>
    <h6 class="category-item"><a href="#">Interior</a></h6>
    <h6 class="category-item"><a href="#">Exterior</a></h6>
    <h6 class="category-item"><a href="#">Oil</a></h6>
    <h6 class="category-item"><a href="#">Filters</a></h6>
    <h6 class="category-item"><a href="#">Brakers</a></h6>
    <h6 class="category-item"><a href="#">Wheels</a></h6>
</div>