<app-header></app-header>
<app-breadcrumb></app-breadcrumb>
<section class="inventory">
    <div class="container">
        <div class="row">
            <div class="col-left">
                <app-inventory-sidebar></app-inventory-sidebar>
            </div>
            <div class="col-right">
                <app-inventory-header></app-inventory-header>
                <app-inventory-content></app-inventory-content>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
