<div class="car">
  <figure>
    <div class="position-relative ">
      <img src="{{carItem?.imgUrl}}" class="img-fluid" alt="popular-car" />
      <h4 class="price text-white bg-orange">${{carItem?.price}}</h4>
    </div>
    <figcaption>
      <h5 class="my-20">{{carItem?.carName}}</h5>
      <hr />
      <div class="row">
        <div class="col-6">
          <i class="fas fa-gas-pump float-left"></i>
          <p class="car-name">{{carItem?.combustible}}</p>
        </div>
        <div class="col-6">
          <i class="fas fa-charging-station float-left"></i>
          <p class="car-name">{{carItem?.consumption}} l</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <i class="fas fa-chair float-left"></i>
          <p class="car-name">{{carItem?.seatsNo}}</p>
        </div>
        <div class="col-6">
          <i class="fas fa-car float-left"></i>
          <p class="car-name">{{carItem?.carType}}</p>
        </div>
      </div>
    </figcaption>
  </figure>
</div>