@import "main.scss";

.car {
  h4.price {
    position: absolute;
    right: 0;
    bottom: 1.25rem;
    padding: 0.4rem 1.4rem;
  }
  figcaption {
    p.car-name {
      font-family: OpenSansRegular, Arial, sans-serif;
      color: $color-grey-tertiary;
      float: left;
      line-height: 20px;
      margin-bottom: 1rem;
    }
    i {
      color: $color-white;
      background: $color-gray-secondary;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      font-size: 11px;
      text-align: center;
      line-height: 20px;
      margin-right: 10px;
    }
  }
}