<section class="shop-sidebar">
    <div class="form-sidebar">
        <form>
            <input type="text" class="form-input" placeholder="Search..." />
            <button type="submit" class="btn-submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <div class="shop-category">
        <h5 class="category-title">Category</h5>
        <hr />
        <h6 class="category-item"><a href="#">Electrical</a></h6>
        <h6 class="category-item"><a href="#">Interior</a></h6>
        <h6 class="category-item"><a href="#">Exterior</a></h6>
        <h6 class="category-item"><a href="#">Oil</a></h6>
        <h6 class="category-item"><a href="#">Filters</a></h6>
        <h6 class="category-item"><a href="#">Brakers</a></h6>
        <h6 class="category-item"><a href="#">Wheels</a></h6>
    </div>
    <div class="shop-best-seller">
        <h5 class="category-title">Best seller</h5>
        <hr />
        <div class="shop-bs-item">
            <img src="assets/img/best-seller.png" class="bs-img" />
            <div class="shop-bs-right">
                <h6 class="shop-bs-title">Sport steering wheel</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h6 class="shop-bs-price">$50.00</h6>
            </div>
        </div>
        <div class="shop-bs-item">
            <img src="assets/img/best-seller.png" class="bs-img" />
            <div class="shop-bs-right">
                <h6 class="shop-bs-title">Sport steering wheel</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h6 class="shop-bs-price">$50.00</h6>
            </div>
        </div>
        <div class="shop-bs-item">
            <img src="assets/img/best-seller.png" class="bs-img" />
            <div class="shop-bs-right">
                <h6 class="shop-bs-title">Sport steering wheel</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h6 class="shop-bs-price">$50.00</h6>
            </div>
        </div>
    </div>
</section>