<article class="blog-article">
    <div class="card">
        <div class="article-header">
            <img class="card-img-top" src="assets/img/article-img.png" alt="article image" />
        </div>
        <div class="card-body">
            <h4 class="card-title">Dinan BMW S2 M4 drive: Not for everyone</h4>
            <div class="card-subtitle">
                <span><i class="fas fa-user"></i> Admin</span>
                <span><i class="fas fa-comments"></i> 2 comments</span>
                <span><i class="fas fa-folder"></i> Lifestyle</span>
            </div>
            <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Vestib tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante sit amet semper...</p>
            <button class="btn btn-warning" (click)="openBlogPost()">READ MORE</button>
        </div>
    </div>
</article>