@import "main.scss";

article.blog-article {
  .card {
    border: none;
    .card-body {
      padding: 2.5rem 0 6rem 0;
      h4.card-title {
        font-style: italic;
      }
      p.card-text {
        margin-bottom: 3rem;
      }
    }
  }
}
