<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-sm-center">
                <img src="assets/img/cta.png" alt="cta" class="img-fluid">
            </div>
            <div class="col-sm-10 right-cta">
                <h2 class="cta-heading">do you want to <span>Sell a car?</span></h2>
                <p class="cta-paragraph">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                    turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                    eu libero sit amet quam egestas semper.</p>
                <div class="d-sm-flex justify-content-start align-items-center cta-btn-number">
                    <button type="button" class="cta-btn" (click)="navigateToSellACar();">SELL A CAR <i
                            class="fas fa-chevron-right"></i></button>
                    <h4 class="cta-subheading">or call: <span>090-841-9856</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>