@import "main.scss";

.cta {
  padding: 6rem;
  background: $color-black;
  .right-cta {
    padding-top: 0.7rem;
    padding-left: 7rem;
    @media (max-width: 780px) {
      padding-left: 2rem;
    }
    h2.cta-heading {
      text-transform: uppercase;
      color: $color-white;
      margin-bottom: 2rem;
      @media (max-width: 770px) {
        font-size: 2rem;
        margin: 1rem 0;
      }
      span {
        color: $orange-color-text;
      }
    }
    p.cta-paragraph {
      color: $color-white;
      line-height: 26px;
    }
    .cta-btn-number {
      margin-top: 3rem;
      button.cta-btn {
        border: 1px solid $orange-color-text;
        background: $color-black;
        border-radius: 4px;
        margin-right: 3rem;
        line-height: 1;
        color: $color-white;
        width: 170px;
        height: 50px;
        box-sizing: border-box;
        font-size: 1.4rem;
        i {
          color: $orange-color-text;
          font-size: 1.4rem;
        }
        &:focus {
          outline: none;
        }
        &:hover {
          background: darken($color-black, 10%);
        }
      }
      h4.cta-subheading {
        text-transform: uppercase;
        color: $orange-color-text;
        span {
          color: $color-white;
        }
        @media (max-width: 770px) {
          font-size: 1.5rem;
          margin: 1rem 0;
        }
      }
    }
  }
}
