<section class="bg-dark2 py-60">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="assets/img/cta.png" alt="cta" class="img-fluid">
            </div>
            <div class="col-md-10 pl-70 mt-20">
                <h2 class="text-white text-uppercase mb-30">do you want to <span class="text-orange">Sell a car?</span>
                </h2>
                <h6 class="text-white font-weight-normal mb-30">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                    turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec
                    eu libero sit amet quam egestas semper.</h6>
                <div class="d-flex justify-content-start align-items-center">
                    <button type="button" class="btn btn-dark2 border-orange mr-30" (click)="navigateToSellACar();">SELL A CAR
                        <i class="fas fa-chevron-right text-orange"></i></button>
                    <h4 class="text-uppercase font-italic text-white text-orange">or call: <span class="text-white">090-841-9856</span></h4>
                </div>
            </div>
        </div>
    </div>
</section>