@import "../../../../styles/main.scss";

.sell-a-car {
  padding: 6rem 0;
  .sidebar {
    background: $color-black-one;
    padding: 3rem;
    color: $color-white;
    width: 26%;
    margin-right: 3rem;
    @media (max-width: 1200px) {
      width: 30%;
    }
    @media (max-width: 992px) {
      width: 36%;
    }
    hr {
      background: $orange-color-text;
    }
    h3 {
      text-transform: uppercase;
      span {
        color: $orange-color-text;
      }
    }
    .contact-details {
      margin-top: 2rem;
      i {
        color: $orange-color-text;
        font-size: 37px;
        margin-right: 1rem;
        margin-top: 5px;
      }
      .contact-box {
        p:first-of-type {
          color: $orange-color-text;
        }
      }
    }
  }
  .col-right {
    width: 71%;
    @media (max-width: 1200px) {
      width: 66%;
    }
    @media (max-width: 992px) {
      width: 58%;
    }
  }
  ::ng-deep .contact {
    mat-horizontal-stepper {
      background: $color-grey-fourth;
      mat-step-header {
        ::ng-deep .mat-step-icon-state-number,
        ::ng-deep .mat-step-icon-state-edit {
          display: none;
        }
      }
      ::ng-deep .mat-stepper-horizontal-line {
        display: none;
      }
      .form-field {
        label,
        input,
        textarea {
          display: block;
          outline: none;
        }
        input,
        textarea {
          width: 100%;
          border: 1px solid $color-grey-sixth;
          border-radius: 3px;
        }
        input {
          height: 4rem;
        }
        label {
          font-size: 1.4rem;
          margin-top: 3rem;
          text-transform: uppercase;
          font-family: OpenSansRegular, Arial, sans-serif;
          color: $gray-color-text;
          span {
            color: $orange-color-text;
          }
        }
      }
      .submit-btn {
        background: $orange-color-text;
        color: $color-white;
        font-family: ProximaNovaBold, Arial, sans-serif;
        border-radius: 4px;
        padding: 1rem 4rem;
        outline: none;
        border: none;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
