@import "../../../../styles/main.scss";

.sell-a-car {
  .sidebar {
    background: $color-black-one;
    padding: 3rem;
    color: $color-white;
    hr {
      background: $orange-color-text;
    }
    h3 {
      text-transform: uppercase;
      span {
        color: $orange-color-text;
      }
    }
    .contact-details {
      i {
        color: $orange-color-text;
      }
    }
  }
  ::ng-deep .contact {
    mat-horizontal-stepper {
      background: $color-grey-fourth;
      mat-step-header{
        ::ng-deep .mat-step-icon-state-number,::ng-deep .mat-step-icon-state-edit{
          display: none;
        }
      }
      ::ng-deep .mat-stepper-horizontal-line{
        display: none;
      }
      .form-field {
        label,
        input,textarea {
          display: block;
        }
        input, textarea {
          width: 100%;
          border: 1px solid $color-grey-sixth;
          border-radius: 3px;
        }
        input{
           height: 4rem;
        }
        label {
          font-size: 1.4rem;
          margin-top: 3rem;
          text-transform: uppercase;
          font-family: OpenSansRegular, Arial, sans-serif;
          color: $gray-color-text;
          span{
            color:$orange-color-text;
          }
        }
      }
      .submit-btn{
        background: $orange-color-text;
        color:$color-white;
        font-family: ProximaNovaBold, Arial, sans-serif;
        border-radius: 4px;
        padding: 1rem 4rem;
        outline: none;
        border: none;
        margin-top: 3rem;
        margin-bottom: .5rem;
      }
    }
  }
}
