@import "main.scss";

.sell-a-car {
  padding: 6rem 0;
  aside {
    background: $color-black-one;
    padding: 1.875rem;
    color: $color-white;
    hr {
      background: $orange-color-text;
    }
    h3 {
      text-transform: uppercase;
      span {
        color: $orange-color-text;
      }
    }
    .contact-details {
      margin-top: 1.25rem;
      i {
        color: $orange-color-text;
        font-size: 37px;
        margin-right: 10px;
        margin-top: 5px;
      }
      .contact-box {
        p:first-of-type {
          color: $orange-color-text;
        }
      }
    }
  }
  ::ng-deep .contact {
    mat-horizontal-stepper {
      background: $color-grey-fourth;
      mat-step-header {
        ::ng-deep .mat-step-icon-state-number,
        ::ng-deep .mat-step-icon-state-edit {
          display: none;
        }
      }
      ::ng-deep .mat-stepper-horizontal-line {
        display: none;
      }
      .form-field {
        label,
        input,
        textarea {
          display: block;
          outline: none;
        }
        input,
        textarea {
          width: 100%;
          border: 1px solid $color-grey-sixth;
          border-radius: 3px;
          padding-left:7px;
        }
        input {
          height: 2.5rem;
        }
        label {
          font-size: 14px;
          margin-top: 1.875rem;
          text-transform: uppercase;
          font-family: OpenSansRegular, Arial, sans-serif;
          color: $gray-color-text;
          span {
            color: $orange-color-text;
          }
        }
      }
      .submit-btn {
        background: $orange-color-text;
        color: $color-white;
        font-family: ProximaNovaBold, Arial, sans-serif;
        border-radius: 4px;
        padding: 10px 40px;
        outline: none;
        border: none;
        margin-top: 1.875rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
