<section class="sell-a-car">
    <div class="container">
        <div class="row">
            <aside class="sidebar">
                <h3>Sell <span>your car</span></h3>
                <hr />
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam,
                    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                    semper.
                </p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam,
                    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
                    semper.
                </p>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-envelope-open-text"></i>
                    <div class="contact-box">
                        <p>Email</p>
                        <p>automotor@domain.com</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-phone"></i>
                    <div class="contact-box">
                        <p>Phone</p>
                        <p>090-481-9986/090-481-9985</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-globe-americas"></i>
                    <div class="contact-box">
                        <p>Location</p>
                        <p>45 Queen's Park Rd, Brighton, UK</p>
                    </div>
                </div>
            </aside>
            <div class="col-right">
                <div class="contact">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="sellACarForm">
                            <form [formGroup]="sellACarForm" (ngSubmit)="onSubmit(sellACarForm.value)">
                                <ng-template matStepLabel>1. Car Information</ng-template>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="make">Make <span>*</span></label>
                                            <input type="text" formControlName="make" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="model">Model <span>*</span></label>
                                            <input type="text" formControlName="model" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="body">Body</label>
                                            <input type="text" formControlName="body" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="transmision">Transmision</label>
                                            <input type="text" formControlName="transmision" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="mileage">Mileage</label>
                                            <input type="text" formControlName="mileage" />
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="year">Year</label>
                                            <input type="text" formControlName="year" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="exteriorColor">Exterior color</label>
                                            <input type="text" formControlName="exteriorColor" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="interiorColor">Interior color</label>
                                            <input type="text" formControlName="interiorColor" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-field">
                                            <label for="vin">Vin</label>
                                            <input type="text" formControlName="vin" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-field">
                                            <label for="pasteALink">Paste a link</label>
                                            <input type="text" formControlName="pasteALink" />
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="submit-btn" [disabled]="!sellACarForm.valid" matStepperNext>NEXT
                                    STEP</button>
                            </form>
                        </mat-step>
                        <mat-step [stepControl]="secondStep">
                            <form [formGroup]="sellACarFormSecond"
                                (ngSubmit)="onSubmitSecond(sellACarFormSecond.value)">
                                <ng-template matStepLabel>2. Contact Details</ng-template>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <label for="firstName">First Name <span>*</span></label>
                                            <input type="text" id="firstName" formControlName="firstName" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <label for="lastName">Last Name <span>*</span></label>
                                            <input type="text" id-="lastName" formControlName="lastName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <label for="email">Email <span>*</span></label>
                                            <input type="text" id="email" formControlName="email" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-field">
                                            <label for="phone">Phone <span>*</span></label>
                                            <input type="text" id="phone" formControlName="phone" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-field">
                                            <label for="notes">Notes</label>
                                            <textarea formControlName="notes" id="notes" rows="10"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="submit-btn" [disabled]="!sellACarFormSecond.valid" matStepperNext>
                                    SELL MY CAR</button>
                            </form>
                            <p class="note">By submitting this form, you will be requesting trade-in value at no
                                obligation and will be contacted within 48 hours by
                                a sales representative.</p>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </div>
</section>