<app-header></app-header>
<app-breadcrumb [title]="title"></app-breadcrumb>
<div class="login-modal">
    <div class="container">
        <div class="row my-4">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                            <div class="row" *ngIf="authError">
                                <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
                            </div>
                            <div class="form-label-group">
                                <input type="email" ngModel #email="ngModel" name="email" type="email"
                                    class="form-control" placeholder="Email address" required autofocus="">
                                <label for="inputEmail">Email address</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" ngModel #password="ngModel" name="password" type="password"
                                    class="form-control" placeholder="Password" required>
                                <label for="inputPassword">Password</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign
                                in</button>
                            <div class="col-12">
                                <a href="/auth/register">Click here to register</a>
                            </div>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" (click)="doGoogleLogin()"><i
                                    class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase"
                                (click)="doFacebookLogin()"><i class="fab fa-facebook-f mr-2"></i> Sign in with
                                Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>