<section class="testimonials">
    <div class="left-ts">
        <h2 class="ts__heading--1">WHY <span>CHOOSE US</span></h2>
        <img src="../../../assets/img/bottom-heading-s--1.png" alt="heading testimonials" />
        <p class="paragraph">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
        <div class="choose-us-container">
            <div class="choose-us">
                <img src="../../../assets/img/choose-1.png" alt="choose us" />
                <div class="choose-us-content">
                    <h5 class="choose-heading">Auto Financing <span>Services</span></h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
                        tempor sit amet.</p>
                </div>
            </div>
            <div class="choose-us">
                <img src="../../../assets/img/choose-2.png" alt="choose us" />
                <div class="choose-us-content">
                    <h5 class="choose-heading">Auto Financing <span>Services</span></h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
                        tempor sit amet.</p>
                </div>
            </div>
            <div class="choose-us">
                <img src="../../../assets/img/choose-3.png" alt="choose us" />
                <div class="choose-us-content">
                    <h5 class="choose-heading">Auto Financing <span>Services</span></h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
                        tempor sit amet.</p>
                </div>
            </div>
            <div class="choose-us">
                <img src="../../../assets/img/choose-4.png" alt="choose us" />
                <div class="choose-us-content">
                    <h5 class="choose-heading">Auto Financing <span>Services</span></h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas
                        tempor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-ts">
        <h2 class="ts__heading--2">CLIENTS <span>SAY</span></h2>
        <img src="../../../assets/img/bottom-heading-ts--2.png" alt="heading testimonials" />
        <div class="testimonial">
            <p class="paragraph">
                “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.”
            </p>
            <div class="testimonial-footer">
                <img src="../.././../assets/img/testimonial_one.png" alt="testimonial"/>
                <div class="author">
                    <p class="p--primary">RAUL MARTINEZ</p>
                    <p class="p--secondary">customer</p>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <p class="paragraph">
                “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.”
            </p>
            <div class="testimonial-footer">
                <img src="../.././../assets/img/testimonial_two.png" alt="testimonial"/>
                <div class="author">
                    <p class="p--primary">RAUL MARTINEZ</p>
                    <p class="p--secondary">customer</p>
                </div>
            </div>
        </div>
    </div>
</section>