<section class="container-testimonials">
    <div class="row">
        <div class="col-md-6 bg-orange py-60 pl-12">
            <h2 class="text-dark font-italic">WHY <span class="text-white">CHOOSE US</span></h2>
            <img src="assets/img/bottom-heading-s--1.png" alt="heading testimonials" />
            <h6 class="text-dark mt-30 lh-26">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                turpis
                egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</h6>
            <div class="choose-us-container mt-60">
                <div class="media mb-30">
                    <img src="assets/img/choose-1.png" alt="choose us" />
                    <div class="media-body ml-20">
                        <h5 class="text-dark text-uppercase font-italic mb-10">Auto Financing <span class="text-white">Services</span></h5>
                        <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas
                            tempor sit amet.</h6>
                    </div>
                </div>
                <div class="media mb-30">
                    <img src="assets/img/choose-2.png" alt="choose us" />
                    <div class="media-body ml-20">
                        <h5 class="text-dark text-uppercase font-italic mb-10">Auto Financing <span class="text-white">Services</span></h5>
                        <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas
                            tempor sit amet.</h6>
                    </div>
                </div>
                <div class="media mb-30">
                    <img src="assets/img/choose-3.png" alt="choose us" />
                    <div class="media-body ml-20">
                        <h5 class="text-dark text-uppercase font-italic mb-10">Auto Financing <span class="text-white">Services</span></h5>
                        <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas
                            tempor sit amet.</h6>
                    </div>
                </div>
                <div class="media mb-30">
                    <img src="assets/img/choose-4.png" alt="choose us" />
                    <div class="media-body ml-20">
                        <h5 class="text-dark text-uppercase font-italic mb-10">Auto Financing <span class="text-white">Services</span></h5>
                        <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas
                            tempor sit amet.</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bg-dark3 py-60 pl-8 pr-12">
            <h2 class="text-orange font-italic">CLIENTS <span class="text-white">SAY</span></h2>
            <img src="assets/img/bottom-heading-ts--2.png" alt="heading testimonials" />
            <div class="testimonial mr-0">
                <p class="text-white font-italic">
                    “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                    sit
                    amet
                    quam egestas semper.”
                </p>
                <div class="testimonial-footer">
                    <img src="assets/img/testimonial_one.png" alt="testimonial" />
                    <div class="author">
                        <h6 class="text-white">RAUL MARTINEZ</h6>
                        <h6 class="text-orange">customer</h6>
                    </div>
                </div>
            </div>
            <div class="testimonial mr-0">
                <p class="text-white font-italic">
                    “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero
                    sit
                    amet
                    quam egestas semper.”
                </p>
                <div class="testimonial-footer">
                    <img src="assets/img/testimonial_two.png" alt="testimonial" />
                    <div class="author">
                        <h6 class="text-white">RAUL MARTINEZ</h6>
                        <h6 class="text-orange">customer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>