@import "main.scss";

.container-testimonials {
  .pl-12 {
    padding-left: 12%;
  }
  .pr-12{
    padding-right:12%;
  }
  .pl-8{
    padding-left:8%;
  }
  h6{
    line-height:1.9;
    font-weight:normal;
    font-family: OpenSansRegular;
  }
  .testimonial {
    border: 1px solid $orange-color-text;
    border-radius: 3px;
    padding: 3rem;
    margin-bottom: 3rem;
    h6{
      text-transform: uppercase;
      font-weight: bold;
    }
    .testimonial-footer {
      display: flex;
      align-items: flex-start;
      margin-top: 1.5rem;
      img {
        margin-right: 1rem;
      }
    }
  }
}
