/*
COLORS:
*/

$color-black: #0a0a0a;
$gray-color-text: #22292d;
$gray-color-secondary:#212121;
$orange-color-text:#e57632;
$color-background-primary: #ebeff0;
$color-gray-hover:#343c40;
$color-gray-secondary:#aeaeae;
$color-grey-tertiary:#666666;
$color-white:#fff;

//FONT
$default-font-size:1.6rem;
