.inventory-item {
  text-transform: uppercase;
  .inventory-inner {
    .item-title-img {
      .item-img {
        float: left;
      }
    }
    .item-features {
      display: flex;
    }
    .item-title-price,
    .item-features {
      padding-left: 3.6%;
      .item-hr,
      .item-title {
        margin-left: 3.6%;
      }
      .item-title {
        display: inline-block;
      }
      .item-price {
        float: right;
      }
    }
  }
}
