<div class="inventory-item">
    <div class="inventory-inner">
        <div class="item-title-img">
            <img class="item-img" src="../../assets/img/inventory-item.png" alt="inventory item" />
            <div class="item-title-price ml-2">
                <h4 class="item-title">aston martin vanquish</h4>
                <h5 class="item-price">$ 20000</h5>
                <hr class="item-hr clearfix" />
            </div>
        </div>
        <div class="item-features justify-content-between">
            <div class="item-left d-flex justify-content-start">
                <i class="fas fa-car"></i>
                <div>
                    <h6 class="paragraph">Body</h6>
                    <p>Sedan</p>
                </div>
            </div>
            <div class="item-center d-flex justify-content-start">
                <i class="fas fa-car"></i>
                <div>
                    <h6 class="item-paragraph">Transmission</h6>
                    <p>Automatic</p>
                </div>
            </div>
            <div class="item-right">
                <h6>stock: #123456</h6>
            </div>
        </div>
        <div class="item-features justify-content-start">
            <div class="item-left  d-flex justify-content-start">
                <i class="fas fa-car"></i>
                <div>
                    <h6 class="item-paragraph">Fuel</h6>
                    <p>ci: 56 / hw: 45</p>
                </div>
            </div>
            <div class="item-center d-flex justify-content-start">
                <i class="fas fa-car"></i>
                <div>
                    <h6 class="item-paragraph">horsepower</h6>
                    <p>350 HP</p>
                </div>
            </div>
            <div class="item-right">
                <h6>in compare list</h6>
            </div>
        </div>
        <hr class="item-hr" />
    </div>
</div>