@import "../../../styles/main.scss";

.breadcrumb {
  padding: 5rem 0;
  background: $color-black-one;
  margin:0;
  h1.heading-breadcrumb {
    text-transform: uppercase;
    color: $color-white;
    span {
      color: $orange-color-text;
    }
  }
  .breadcrumb-list {
    .breadcrumb-icon {
      i {
        color: $orange-color-text;
      }
    }
    li {
      a {
        color: $color-white;
        padding-left: 1rem;
      }
    }
  }
}
