// colors

$dark: #22292d;
$orange: #e57632;
$gray1: #111416;

$theme-colors: (
  "orange": $orange,
  "dark": $dark,
  "gray": $gray1,
) !default;

$gray1: #22292d;
$gray2: #ebeff0;
$gray3: #343c40;
$gray4: #ebeff0;
$gray5: #aeaeae;

$black1: #111416;

$color-black: #0a0a0a;
$color-black-secondary: #050607;
$gray-color-text: #22292d;
$gray-color-secondary: #212121;
$orange-color-text: #e57632;
$color-background-primary: #ebeff0;
$color-gray-hover: #343c40;
$color-gray-secondary: #aeaeae;
$color-grey-tertiary: #666666;
$color-grey-fourth: #f4f4f4;
$color-grey-fifth: #e0e0e0;
$color-grey-sixth: #e1e1e1;
$color-grey-seven: #e5e5e5;
$color-grey-eight: #757575;
$color-black-one: #111416;
$color-white: #fff;
$green-color: #45a4a8;
$google-btn: #ea4335;
$facebook-btn: #3b5998;
$red: red;

$orange1: #e57632;
