@import '~@angular/material/theming';

@include mat-core();

$caraso-app-primary: mat-palette($mat-red);
$caraso-app-accent: mat-palette($mat-pink, A200, A100, A400);
$caraso-app-warn:  mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$caraso-theme: mat-light-theme($caraso-app-primary, $caraso-app-accent, $caraso-app-warn);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$caraso-typography: mat-typography-config(
  $font-family: 'DM Mono, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($caraso-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($caraso-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($caraso-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($caraso-theme);