<aside class="inventory-sidebar">
    <h3 class="invetory-sidebar-title"><span>search</span> car</h3>
    <hr class="hr-sidebar" />
    <form [formGroup]="searchForm" novalidate>
        <div class="select">
            <select formControlName="model">
                <option value="" selected>Model</option>
                <option *ngFor="let model of models" [value]="model.value">
                    {{model.viewValue}}
                </option>
            </select>
        </div>
        <div class="select" >
            <select formControlName="make">
                <option value="" selected>Make</option>
                <option *ngFor="let make of makes" [value]="make.value">
                    {{make.viewValue}}
                </option>
            </select>
        </div>
        <button type="button" class="search-btn" (click)="search(searchForm.value)">SEARCH</button>4
    </form>
</aside>