<!--<main class="search">
    <div class="container">
        <h2 class="section-title"><span>10</span> search results for <span>“BMW”</span></h2>
        <ngb-tabset justify="left" class="tabs-cars">
            <ngb-tab>
                <ng-template ngbTabTitle>INVENTORY (2)</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>POSTS (4)</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab>
                <ng-template ngbTabTitle>PRODUCTS (4)</ng-template>
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="car">
                                <figure>
                                    <div class="position-relative w-270">
                                        <img src="../../assets/img/popular-car.png" alt="popular-car" />
                                        <h4 class="heading--price">$20000</h4>
                                    </div>
                                    <figcaption>
                                        <h5 class="subheading">aston martin vanquish</h5>
                                        <hr />
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <div class="left-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                            <div class="right-car">
                                                <i class="fas fa-car float-left"></i>
                                                <p class="float-right paragraph">Sedan</p>
                                            </div>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</main>-->