@import "../../../../styles/main.scss";

.search {
  padding: 6rem 0;
  .section-title {
    color: $gray-color-text;
    text-transform: uppercase;
    margin-bottom: 4rem;
    font-family: ProximaNovaBold, Arial, sans-serif;
    span {
      color: $orange-color-text;
    }
  }
  ::ng-deep ul.nav-tabs {
    border-bottom: 2px solid $color-grey-fifth;
    li {
      a.nav-link {
        font-family: ProximaNovaBold, Arial, sans-serif;
        font-size: 1.4rem;
        color: $color-gray-secondary;
        border: none;
        &.active {
          color: $orange-color-text;
          border-bottom: 2px solid $orange-color-text;
        }
      }
    }
  }

  ::ng-deep .tab-content {
    margin-top: 3rem;
  }

  .car {
    h4.heading--price {
      position: absolute;
      color: $color-white;
      background: $orange-color-text;
      right: 0;
      bottom: 2rem;
      padding: 0.4rem 1.4rem;
    }
    figcaption {
      .subheading {
        text-transform: uppercase;
        margin: 1.8rem 0;
        font-family: ProximaNovaBold, Arial, sans-serif;
      }
      p.paragraph {
        font-family: OpenSansRegular, Arial, sans-serif;
        color: $color-grey-tertiary;
        margin-top: -0.2rem;
        margin-bottom: 1rem;
      }
      i {
        color: $color-white;
        background: $color-gray-secondary;
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        font-size: 1.1rem;
        text-align: center;
        line-height: 2rem;
        margin-right: 1rem;
      }
      .right-car {
        margin-left: 6rem;
      }
    }
    .w-270 {
      width: 27rem;
      h4.heading--price {
        font-family: ProximaNovaBold, Arial, sans-serif;
      }
    }
  }
  .btn-show-all {
    border: 1px solid $gray-color-text;
    background: $color-white;
    padding: 1.5rem 4rem;
    border-radius: 4px;
    line-height: 1;
    margin-top: 4rem;
    i {
      color: $orange-color-text;
      font-size: 1.4rem;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      background: darken($color-white, 10%);
    }
  }
}
