<section class="partners">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners1.png" alt="partners" />
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners2.png" alt="partners" />
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners3.png" alt="partners" />
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners4.png" alt="partners" />
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners5.png" alt="partners" />
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-12 mb-xs-3">
                <img src="../../../assets/img/partners6.png" alt="partners" />
            </div>
        </div>
    </div>
</section>