<section id="our-team">
    <div class="container">
        <h2 class="text-center section-heading">OUR <span>TEAM</span></h2>
        <div class="text-center section-img">
            <img src="assets/img/bottom-heading.png" alt="bottom heading" />
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card team">
                    <img class="card-img-top img-fluid" src="assets/img/team-img.png" alt="Team">
                    <div class="card-body">
                        <h5 class="card-title">lucas <span>henderson</span></h5>
                        <p class="card-text">Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card team">
                    <img class="card-img-top img-fluid" src="assets/img/team-img.png" alt="Team">
                    <div class="card-body">
                        <h5 class="card-title">lucas <span>henderson</span></h5>
                        <p class="card-text">Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card team">
                    <img class="card-img-top img-fluid" src="assets/img/team-img.png" alt="Team">
                    <div class="card-body">
                        <h5 class="card-title">lucas <span>henderson</span></h5>
                        <p class="card-text">Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card team">
                    <img class="card-img-top img-fluid" src="assets/img/team-img.png" alt="Team">
                    <div class="card-body">
                        <h5 class="card-title">lucas <span>henderson</span></h5>
                        <p class="card-text">Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
