@import "main.scss";

.car-item {
  text-transform: uppercase;
  margin-bottom: 0.9375rem;
  .inventory-inner {
    padding-bottom: 0.9375rem;
    .car-title {
      border-bottom: 1px solid $color-grey-fifth;
      margin-bottom: 1.875rem;
      margin-top: 0.9375rem;
      align-items: center;
      h4.car-heading-title,
      h5.car-heading-price {
        font-family: ProximaNovaBold, Arial, sans-serif;
        font-style: italic;
        line-height: 1;
        display: inline-block;
      }
      .h4.car-heading-title {
        color: $gray-color-text;
      }
      h5.car-heading-price {
        color: $color-white;
        background-color: $orange-color-text;
        padding: 1rem 1.25rem;
        min-width: 6.875rem;
        position: relative;
        &::before {
          content: "";
          top: 0;
          left: -1.25rem;
          position: absolute;
          width: 0;
          height: 0;
          border-bottom: 3.25rem solid $orange-color-text;
          border-left: 1.25rem solid transparent;
        }
      }
    }
    .item-left,
    .item-center {
      display: flex;
      justify-content: flex-start;
      i {
        color: $color-white;
        background: $color-gray-secondary;
        border-radius: 50%;
        height: 1.25rem;
        width: 1.25rem;
        font-size: 0.6875rem;
        text-align: center;
        line-height: 1.25rem;
        margin-right: 0.625rem;
      }
      p {
        color: #22292d;
        font-size: 14px;
        font-family: ProximaNovaBold, Arial, sans-serif;
      }
    }
    .item-title {
      display: inline-block;
      font-family: ProximaNovaBold, Arial, sans-serif;
    }
    .item-paragraph {
      color: #aeaeae;
      font-size: 12px;
      font-family: ProximaNovaBold, Arial, sans-serif;
    }
  }
  .btnAddTocompare {
    background: $color-white;
    color: $orange-color-text;
    font-size: 14px;
    border: 1px solid $orange-color-text;
    border-radius: 3px;
    height: 2.5rem;
    width: 100%;
  }
  .btnInCompareList {
    background: $orange-color-text;
    color: $color-white;
    border: 1px solid $orange-color-text;
    border-radius: 3px;
    font-size: 14px;
    height: 2.5rem;
    width: 100%;
  }
}
