<div class="car-item">
    <div class="inventory-inner clearfix" *ngFor="let car of filteredCars;let i= index">
        <div class="row">
            <div class="col-md-4 col-sm-12 text-center">
                <img class="img-fluid" src="assets/img/inventory-item.png" alt="inventory item" />
            </div>
            <div class="col-md-8 col-sm-12 border-bottom">
                <div class="row car-title">
                    <div class="col-6">
                        <h4 class="car-heading-title">{{car.make}} {{car.model}}</h4>
                    </div>
                    <div class="col-6 text-right">
                        <div class="triangle-bottomright"></div>
                        <h5 class="car-heading-price">${{car.price | number}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-6">
                        <div class="item-left">
                            <i class="fas fa-car"></i>
                            <div>
                                <h6 class="item-paragraph">Year</h6>
                                <p>{{car.year}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="item-center">
                            <i class="fas fa-car"></i>
                            <div>
                                <h6 class="item-paragraph">Transmission</h6>
                                <p>{{car.transmision}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 text-right">
                        <div class="item-right">
                            <h6>stock: #123456</h6>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 col-6">
                        <div class="item-features justify-content-start">
                            <div class="item-left">
                                <i class="fas fa-car"></i>
                                <div>
                                    <h6 class="item-paragraph">Fuel</h6>
                                    <p>ci: 56 / hw: 45</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6">
                        <div class="item-center ml-item-center">
                            <i class="fas fa-car"></i>
                            <div>
                                <h6 class="item-paragraph">horsepower</h6>
                                <p>{{car.horserPower}} HP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 text-right">
                        <div class="item-right">
                            <button type="button" class="btn-compare" (click)="onAddToCompare(i)"
                            [ngClass]="{'btnAddTocompare':!addedToCompare,'btnInCompareList':addedToCompare}">
                                {{ addedToCompare?'IN COMPARE LIST':'ADD TO COMPARE'}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>