<main class="sp-main">
    <div class="row">
        <div class="col-5">

        </div>
        <div class="col-7">
            <h3 class="product-title">Ninja Rims R20</h3>
            <div class="sp-rating">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h6 class="sp-customer-ratings">(2 customer reviews)</h6>
            </div>
            <h4 class="product-price">$26.00</h4>
            <p class="product-description">
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                Aenean ultricies mi
                vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
            </p>
            <p class="qty">Quantity</p>
            <div class="product-add-cart">
                <input type="number" class="product-number" />
                <button type="button" class="btn-add-to-cart">Add to cart</button>
            </div>
            <p class="product-category">Category: <span>Wheels</span></p>
        </div>
    </div>
    <div class="related-products">
        <h3 class="related-products-title">related products</h3>
        <hr class="hr-rel-products" />
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>