@import "main.scss";

#slider {
  .carousel {
    .carousel-inner {
      .carousel-item {
        height: 80vh;
        img {
          width: 100%;
          height: 100%;
          filter: brightness(50%);
        }
        .carousel-caption {
          width: 24.375rem;
          padding: 0;
          text-align: left;
          position: absolute;
          top: 50%;
          left: 9.375rem;
          transform: translateY(-50%);
          h2 {
            margin: 15px 0;
            color: $color-white;
            font-weight: bold;
            span {
              color: $orange-color-text;
            }
          }
          .skew-car-title {
            width: 26.875rem;
            padding: 0.625rem 1.25rem;
            margin-top: 0.5rem;
            background: $color-white;
            transform: skewX(-25deg);
            h1 {
              transform: skewX(25deg);
              display: block;
              span {
                color: $gray-color-text;
                display: block;
              }
            }
            h1 {
              color: $orange-color-text;
            }
          }
          .skew {
            transform: skewX(-25deg);
            padding: 10px;
            h1,
            h5,
            h3 {
              transform: skewX(25deg);
              display: block;
              span {
                color: $gray-color-text;
                display: block;
              }
            }
            h1 {
              width: 36.875rem;
              color: $orange-color-text;
            }
            h3,
            h5 {
              color: $color-white;
            }
            h5 {
              width: 3.125rem;
            }
            h2 {
              width: 13.75rem;
            }
          }
          .label-new {
            margin-left: 40px;
            margin-right: 5px;
            background: $orange1;
          }
          .price-label{
            background: $gray1;
          }
          button.btn-learn-more {
            font-size: 18px;
            line-height: 18px;
            margin-right: 0.625rem;
            color: $color-white;
            background: $gray-color-text;
            transform: skewX(-25deg);
            border: none;
            outline: none;
            padding: 10px 15px;
            float: right;
            h5 {
              transform: skewX(25deg);
              i {
                color: $orange-color-text;
              }
            }
          }
        }
      }
    }
    ol.carousel-indicators {
      margin-bottom: 2.5rem;
      li {
        width: 1.875rem;
        border-radius: 0;
        height: 0.5rem;
        transform: skewX(-25deg);
        background-color: $color-grey-fifth;
        border-width: 0;
        &.active {
          background: $orange-color-text;
          height: 0.5rem;
          border-width: 0;
        }
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      width: 10%;
      opacity: 1;
      i {
        font-size: 18px;
        height: 60px;
        width: 60px;
        line-height: 60px;
        color: $white;
        border-radius: 50%;
        background: $color-grey-eight;
        opacity: 1;
      }
    }
  }
}
