<section class="posts">
    <div class="container">
        <h2 class="text-center posts__heading">LATEST <span>POSTS</span></h2>
        <div class="text-center">
            <img class="search__img" src="assets/img/bottom-heading.png" alt="bottom heading" />
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner row">
                <div class="carousel-item col-12 active col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="carousel-item col-12 col-sm-6 col-md-4">
                    <figure class="post">
                        <img src="assets/img/post.png" alt="post" class="img-fluid" />
                        <figcaption>
                            <h5>Dinan BMW S2 M4 first drive: Not for everyone</h5>
                            <hr />
                            <div class="d-flex justify-content-start">
                                <p><i class="fas fa-user"></i> Admin</p>
                                <p><i class="fas fa-calendar"></i> Jun 12, 2017</p>
                                <p><i class="fas fa-comments"></i> 2 comments</p>
                            </div>
                        </figcaption>
                    </figure>
                </div> 
            </div>
        </div>
    </div>
</section>