<section id="why-choose-us">
    <div class="container">
        <h2 class="text-center section-heading">WHY CHOOSE <span>AUTO MOTOR</span></h2>
        <div class="text-center section-img">
            <img src="assets/img/bottom-heading.png" alt="bottom heading" />
        </div>
        <div class="row why-choose-first-row">
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media why-choose-us-box">
                    <img class="media-img" src="assets/img/icon-why-choose-us.png" alt="Why choose us">
                    <div class="media-body">
                        <h5 class="media-title">Auto Financing <span>Services</span></h5>
                        <p class="media-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas tempor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>