<section class="slider">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../../assets/img/slide1.jpg" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h2 class="slider__heading--new">NEW <span class="slider__heading--price">$20000</span></h2>
          <div class="skewDiv">
            <h1 class="slider__heading--car w-50">AUDI Q7 E-TRON <span>QUATTRO</span></h1>
          </div>
          <h1 class="slider__heading--rate">INTEREST RATE <span>0%</span></h1>
          <div class="skewDiv">
            <button type="button" class="slider__btn">LEARN MORE <i class="fas fa-plus"></i></button>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../../assets/img/slide2.jpg" alt="Second slide">
          <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h2 class="slider__heading--new">NEW <span class="slider__heading--price">$20000</span></h2>
          <div class="skewDiv">
            <h1 class="slider__heading--car w-50">AUDI Q7 E-TRON <span>QUATTRO</span></h1>
          </div>
          <h1 class="slider__heading slider__heading--rate">INTEREST RATE <span>0%</span></h1>
          <div class="skewDiv">
            <button type="button" class="slider__btn">LEARN MORE <i class="fas fa-plus"></i></button>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="../../assets/img/slide3.jpg" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h2 class="slider__heading slider__heading--new">NEW <span
              class="slider__heading slider__heading--price">$20000</span></h2>
          <div class="skewDiv">
            <h1 class="slider__heading slider__heading--car w-50">AUDI Q7 E-TRON <span>QUATTRO</span></h1>
          </div>
          <h1 class="slider__heading slider__heading--rate">INTEREST RATE <span>0%</span></h1>
          <div class="skewDiv">
            <button type="button" class="slider__btn">LEARN MORE <i class="fas fa-plus"></i></button>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </section>
