<footer>
    <div class="top-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="box">
                    <h5>about <span>us</span></h5>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. mi vitae est.</p>
                    <div class="social-links d-flex justify-content-start">
                        <ul class="list-social-media">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="box">
                    <h5>business <span>hours</span></h5>
                    <p>Psales department</p>
                    <p>Mon - sat: 8:00 am - 17:00 pm</p>
                    <p>Sunday is closed</p>
                    <hr />
                    <p>services department</p>
                    <p>Mon - sat: 8:00 am - 17:00 pm</p>
                    <p>Sunday is closed</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="box">
                    <h5>contact <span>info</span></h5>
                    <div class="d-flex justify-content-start contact">
                        <i class="fas fa-map-marker"></i>
                        <p>45 Queen's Park Rd, Brighton,
                            United Kingdom</p>
                    </div>
                    <div class="d-flex justify-content-start contact">
                        <i class="fas fa-envelope"></i>
                        <div>
                                <p>automotor@domain.com</p>
                                <p>sales@domain.com</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start contact">
                        <i class="fas fa-phone"></i>
                       <div> <p>090-481-9985</p>
                        <p>090-481-9986</p></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="box">
                    <h5>news<span>letter</span></h5>
                    <form class="newsletter-form d-flex justify-content-start">
                        <input type="email" placeholder="Enter your email..."/>
                        <button type="submit"><img src="../../../assets/img/submit.png"/></button>
                    </form>
                    <p>Subscribe to newsletter and promotions.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <div class="d-flex footer-content align-items-center justify-content-between">
                    <p>© Copyright 2017. All rights reserved. Design by MoniTheme</p>
                    <ul class="nav-footer mb-0">
                        <li><a href="#">About Us </a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Inventory</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Sell a car</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
            </div>
        </div>
    </div>
</footer>