@import "main.scss";

footer {
  .top-footer {
    background: $gray1;
    position: relative;
    padding: 9.375rem 0 4.375rem 0;
    z-index: 100;
    .box {
      p {
        color: $gray5;
        font-family: OpenSansRegular, Arial, sans-serif;
        line-height: 26px;
        font-size: 14px;
      }
      h5 {
        font-size: 18px;
        text-transform: uppercase;
        color: $orange1;
        font-style: italic;
        margin-bottom: 3rem;
        span {
          color: white;
        }
      }
      .social-links {
        margin-top: 2rem;
        ul.list-social-media {
          li {
            display: inline-block;
            a {
              margin-right: 1rem;
              i {
                color: $gray5;
                background: $gray3;
                height: 40px;
                width: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
              }
            }
          }
        }
      }
      .contact {
        i {
          color: $orange1;
          margin-right: 0.5rem;
        }
      }
      form.newsletter-form {
        margin-bottom: 1rem;
        input[type="email"] {
          color: #aeaeae;
          background: #343c40;
          border: none;
          width: 90%;
          padding: 0.5rem 1.5rem;
          outline: none;
        }
        button[type="submit"] {
          padding: 0.5rem 1.5rem;
          background: #343c40;
          border: none;
          width: 30px;
          width: 10%;
          padding-right: 1.5625rem;
        }
      }
    }
  }
  .bottom-footer {
    background: $gray3;
    .footer-content {
      min-height: 70px;
      p {
        color: $gray5;
        font-family: OpenSansRegular, Arial, sans-serif;
        font-size: 14px;
      }
      .nav-footer {
        li {
          display: inline-block;
          margin-left: 1.25rem;
          a {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }
}
