<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="testimonial">
                    <div class="row">
                        <div class="col-md-8">
                            <h2 class="heading-primary">customers <span>say</span></h2>
                            <img src="assets/img/testimonial-img.png" alt="testimonial title" />
                        </div>
                        <div class="col-md-4">
                            <div class="carousel-controls">
                                <a class="carousel-control-prev" href="#sliderTestimonials" role="button"
                                    data-slide="prev">
                                    <i class="fas fa-chevron-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#sliderTestimonials" role="button"
                                    data-slide="next">
                                    <i class="fas fa-chevron-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#sliderTestimonials" data-slide-to="0" class="active"></li>
                                <li data-target="#sliderTestimonials" data-slide-to="1"></li>
                                <li data-target="#sliderTestimonials" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                    <div id="sliderTestimonials" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <blockquote class="quote">
                                    <p class="paragraph">
                                        “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam,
                                        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet.”
                                    </p>
                                    <footer>
                                        <img src="assets/img/testimonial-author.png" alt="author" />
                                        <div class="author">
                                            <p class="author-name">raul martinez</p>
                                            <p class="author-occupation">customer</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="carousel-item">
                                <blockquote class="quote">
                                    <p class="paragraph">
                                        “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam,
                                        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet.”
                                    </p>
                                    <footer>
                                        <img src="assets/img/testimonial-author.png" alt="author" />
                                        <div class="author">
                                            <p class="author-name">raul martinez</p>
                                            <p class="author-occupation">customer</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="carousel-item">
                                <blockquote class="quote">
                                    <p class="paragraph">
                                        “Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                        turpis egestas. Vestibulum tortor quam,
                                        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet.”
                                    </p>
                                    <footer>
                                        <img src="assets/img/testimonial-author.png" alt="author" />
                                        <div class="author">
                                            <p class="author-name">raul martinez</p>
                                            <p class="author-occupation">customer</p>
                                        </div>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<button mat-raised-button type="button" color="primary">Click</button>