<div class="shop-right-content">
    <section class="top-content">
        <h5 class="section-title">showing <span class="subtotal">1-9</span> of <span class="total">45</span> results
        </h5>
        <div class="shop-select-wrap">
            <select class="shop-select">
                <option>Default sorting</option>
                <option>Opt 1</option>
                <option>Opt 2</option>
            </select>
        </div>
    </section>
    <hr class="shop-hr" />
    <section class="shop-items">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <figure>
                        <img src="assets/img/best-seller.png" class="item-img" />
                        <figcaption>
                            <h5 class="item-title">Steering Cover Maruti
                                Suzuki Ciaz</h5>
                            <hr class="hr-item" />
                        </figcaption>
                    </figure>
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                        <button type="button" class="btn-cart"><i class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shop-navigation">
        <nav aria-label="Shop navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
            </ul>
        </nav>
    </section>
</div>