<div class="shop-right-content">
    <section class="top-content">
        <h5 class="section-title">showing <span class="subtotal">1-9</span> of <span class="total">45</span> results
        </h5>
        <div class="shop-select-wrap">
            <select class="shop-select">
                <option>Default sorting</option>
                <option>Opt 1</option>
                <option>Opt 2</option>
            </select>
        </div>
    </section>
    <hr class="shop-hr" />
    <section class="shop-items">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <h5 class="item-title">Steering Cover Maruti
                        Suzuki Ciaz</h5>
                    <hr class="hr-item" />
                    <div class="item-bottom">
                        <h5 class="item-price">$299.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>