<main class="contact-main">
    <div class="container">
        <div class="col-md-8 col-sm-6">
            <div class="contact-form">
                <h2 class="contact-title">get in <span>touch</span></h2>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstName">First name <span>*</span></label>
                                <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
                                    placeholder="Enter first name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastName">Last name <span>*</span></label>
                                <input type="text" class="form-control" id="lastName" aria-describedby="lastName"
                                    placeholder="Enter last name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email <span>*</span></label>
                                <input type="email" class="form-control" id="email" aria-describedby="email"
                                    placeholder="Enter email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" class="form-control" id="phone" aria-describedby="phone"
                                    placeholder="Enter phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">Message <span>*</span></label>
                                <textarea class="form-control" id="message" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <aside class="col-md-4 col-sm-6">

        </aside>
    </div>
</main>