@import "main.scss";

.contact-main {
  margin: 3.75rem 0;
  .row-flex {
    display: flex;
    flex-wrap: wrap;
    .contact-form {
      height: 100%;
      background: $color-grey-fourth;
      padding-top: 1.25rem;
      padding-bottom: 2.5rem;
      h2.contact-title {
        color: $gray-color-text;
        text-transform: uppercase;
        padding-left: 1.875rem;
        span {
          color: $orange-color-text;
        }
      }
      form {
        padding: 0 1.875rem 0 1.875rem;
        .form-group {
          margin-bottom: 1.625rem;
          label {
            font-size: 14px;
            color: $gray-color-text;
            font-family: OpenSansRegular, Arial, sans-serif;
            text-transform: uppercase;
            line-height: 1;
            span {
              color: $orange-color-text;
            }
          }
          input,
          textarea {
            border-radius: 2px;
            font-size: 15px;
            resize: none;
          }
          input {
            height: 40px;
          }
          textarea {
            height: 140px;
          }
          .validate-input {
            p {
              color: $orange-color-text;
            }
          }
        }
        button.btn-submit {
          background: $orange-color-text;
          font-size: 14px;
          font-family: ProximaNovaBold, Arial, sans-serif;
          text-transform: uppercase;
          color: $color-white;
          width: 140px;
          height: 40px;
          line-height: 40px;
          border-radius: 4px;
          border: none;
          outline: none;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    aside {
      .sidebar-contact {
        background: $color-grey-fourth;
        height: 100%;
        padding-top: 1.25rem;
        padding-bottom: 2.5rem;
        h2.contact-title {
          color: $gray-color-text;
          text-transform: uppercase;
          padding-left: 1.875rem;
          span {
            color: $orange-color-text;
          }
        }
        .contact-info {
          display: flex;
          justify-content: flex-start;
          padding-left: 1.875rem;
          padding-right: 1.875rem;
          font-family: ProximaNovaBold, Arial, sans-serif;
          margin-bottom: 1.875rem;
          i {
            font-size: 36px;
            color: $orange-color-text;
            margin-right: 0.9375rem;
          }
          .info {
            text-transform: uppercase;
            p.info-title {
              color: $orange-color-text;
              font-size: 12px;
            }
            h6.info-text {
              color: $gray-color-text;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
