<aside class="inventory-sidebar">
    <h3 class="invetory-sidebar-title"><span>search</span> car</h3>
    <hr class="hr-sidebar" />
    <div class="select-wrapper">
        <select>
            <option value="condition">Condition</option>
        </select>
    </div>
    <div class="select-wrapper">
        <select>
            <option value="make">Make</option>
        </select>
    </div>
    <div class="select-wrapper">
        <select>
            <option value="year">Year</option>
        </select>
    </div>
    <div class="select-wrapper">
        <select>
            <option value="body">Body</option>
        </select>
    </div>
    <div class="select-wrapper">
        <select>
            <option value="drive">Drive</option>
        </select>
    </div>
    <div class="select-wrapper">
        <select>
            <option value="transmission">Transmission</option>
        </select>
    </div>
    <button type="button" class="search-btn">SEARCH</button>
</aside>