<section class="inventory-header">
    <div class="d-flex justify-content-between">
        <h4 class="inventory-title"><span>20</span> vehicles available</h4>
        <div class="inventory-right">
            <select class="inventory-dropdown">
                <option>Default sorting</option>
                <option>Option two</option>
            </select>
            <button type="button" class="inventory-grid"><i class="fas fa-th"></i></button>
            <button type="button" class="inventory-list"><i class="fas fa-list"></i></button>
        </div>
    </div>
</section>