<section class="search">
  <div class="container">
    <h2 class="text-center search__heading">SEARCH <span>MY CAR</span></h2>
    <div class="text-center">
      <img class="search__img" src="../../assets/img/bottom-heading.png" alt="bottom heading" />
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <mat-form-field class="mat-field">
          <input type="text" placeholder="Make" aria-label="Make" matInput [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let make of filteredMakesOptions | async" [value]="make">
              {{make}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <mat-form-field class="mat-field">
          <input type="text" placeholder="Pick the model of the car" aria-label="Model" matInput
            [matAutocomplete]="autoModel">
          <mat-autocomplete autoActiveFirstOption #autoModel="matAutocomplete">
            <mat-option *ngFor="let model of filteredModelsOptions | async" [value]="model">
              {{model}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <mat-form-field class="mat-field">
          <input type="text" placeholder="Pick the year of the car" aria-label="Model" matInput
            [matAutocomplete]="autoYear">
          <mat-autocomplete autoActiveFirstOption #autoYear="matAutocomplete">
            <mat-option *ngFor="let year of filteredYearOptions | async" [value]="model">
              {{year}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="home-select">
          <select class="search__select">
            <option>Body</option>
            <option>Opt 1</option>
            <option>Opt 2</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="home-select">
          <select class="search__select">
            <option>Min Price</option>
            <option>Opt 1</option>
            <option>Opt 2/option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="home-select">
          <select class="search__select">
            <option>Max Price</option>
            <option>Opt 1</option>
            <option>Opt 2/option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="home-select">
          <select class="search__select">
            <option>Transmission</option>
            <option>Opt 1</option>
            <option>Opt 2/option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <button type="button" class="search__btn">SEARCH</button>
      </div>
    </div>
  </div>
</section>