@import "main.scss";

.search {
  background: $gray-color-text;
  padding: 6rem 0 4.5rem 0;
  h1.section-title {
    color: $color-white;
    span {
      color: $orange-color-text;
    }
  }
  &-btn {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background: $orange-color-text;
    color: $color-white;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  mat-form-field.search-dropdown {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background: $color-gray-hover;
        height: 50px;
      }
      mat-label {
        color: $color-gray-secondary;
        font-size: 14px;
        font-family: ProximaNovaRegular, Arial, sans-serif;
      }
      mat-select {
        mat-option {
        }
      }
    }
  }
}
