<section class="search-car">
  <div class="container">
    <h1 class="text-center section-title">SEARCH <span>MY CAR</span></h1>
    <form [formGroup]="searchForm" novalidate>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- <div class="home-select">
            <select class="search-select" formControlName="make">
              <option value="" selected>Make</option>
              <option *ngFor="let make of makes" [value]="make.value">{{make.viewValue}}</option>
            </select>
          </div> -->
          <mat-form-field appearance="fill" class="search-dropdown">
            <mat-label>Make</mat-label>
            <mat-select formControlName="make" disableOptionCentering panelClass="dropdown">
              <mat-option *ngFor="let make of makes" [value]="make.value">
                {{make.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <!-- <div class="home-select">
            <select class="search-select" formControlName="model">
              <option value="" selected>Model</option>
              <option *ngFor="let model of models" [value]="model.value">{{model.viewValue}}</option>
            </select>
          </div> -->
          <mat-form-field appearance="fill" class="search-dropdown">
            <mat-label>Model</mat-label>
            <mat-select formControlName="make" disableOptionCentering panelClass="dropdown">
              <mat-option *ngFor="let model of models" [value]="model.value">
                {{model.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="home-select">
            <select class="search__select">
              <option>Max Price</option>
              <option>Opt 1</option>
              <option>Opt 2/option>
            </select>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="home-select">
            <select class="search__select">
              <option>Transmission</option>
              <option>Opt 1</option>
              <option>Opt 2/option>
            </select>
          </div>
        </div> -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <button (click)="search(searchForm.value)" class="search-car-btn">SEARCH</button>
        </div>
      </div>
    </form>
  </div>
</section>