<section class="sell-a-car">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 sidebar">
                <h3>Sell <span>your car</span></h3>
                <hr />
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam,
                    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Vestibulum tortor quam,
                    feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                </p>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-envelope-open-text"></i>
                    <div class="contact-box">
                        <p>Email</p>
                        <p>automotor@domain.com</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-phone"></i>
                    <div class="contact-box">
                        <p>Phone</p>
                        <p>090-481-9986/090-481-9985</p>
                    </div>
                </div>
                <div class="d-flex justify-content-start contact-details">
                    <i class="fas fa-globe-americas"></i>
                    <div class="contact-box">
                        <p>Location</p>
                        <p>45 Queen's Park Rd, Brighton, UK</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 contact">

            </div>
        </div>
    </div>
</section>