@import "main.scss";

.breadcrumb {
  padding: 3.125rem 0;
  background: $black1;
  margin: 0;
  h1.heading-breadcrumb {
    text-transform: uppercase;
    color: white;
    span {
      color: $orange1;
    }
  }
  .breadcrumb-list {
    .breadcrumb-icon {
      i {
        color: $orange1;
      }
    }
    li {
      a {
        color: white;
        padding-left: 16px;
        font-size: 14px;
      }
    }
  }
}
