<app-header></app-header>
<app-slider></app-slider>

<section class="search bg-dark py-60">
    <div class="container">
        <h2 class="text-center text-white font-italic bottom-img mt-n3">SEARCH <span class="text-orange">MY CAR</span>
        </h2>
        <app-search></app-search>
    </div>
</section>

<section class="popular-cars py-60">
    <div class="container">
        <h2 class="text-center font-italic bottom-img mt-n3 mb-30">POPULAR <span class="text-orange">CARS</span></h2>
        <div class="row">
            <app-popular-car *ngFor="let car of cars" [carItem]="car" class="col-md-6 col-lg-3">
            </app-popular-car>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-outline-dark" (click)="showAllCars()">SHOW ALL <i
                    class="fas fa-plus"></i></button>
        </div>
    </div>
</section>

<app-cta></app-cta>
<app-testimonials></app-testimonials>

<section class="posts py-60">
    <div class="container">
        <h2 class="text-center font-italic bottom-img mt-n3">LATEST <span class="text-orange">POSTS</span></h2>
        <app-posts></app-posts>
    </div>
</section>
<app-partners></app-partners>
<app-map></app-map>
<app-footer></app-footer>