*{
    margin:0;
    padding:0;
}

*::after,*::before{
    box-sizing: inherit;
} 

html{
    font-size: 62.5%;/*10px*/
}

body{
    font-family: ProximaNovaBold, sans-serif;
    font-size:1.6rem;
    line-height: 1.7;
    color:$gray-color-text;
    box-sizing: border-box;
}